// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	padding-top: 80px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.scroll-to-top {
	z-index: 1042;
	right: 1rem;
	bottom: 1rem;
	display: none;
}

.scroll-to-top a {
	width: 2.5rem;
	height: 2.5rem;
	background-color: rgba(33, 37, 41, 0.3);
	line-height: 2.1rem;
}

.bg-green {
	background-color: rgba(76, 175, 80, 0.3) !important;
}

button.navbar-toggler:focus {
	outline: 1px none;
}

.navbar-brand {
	max-height: 60px;
	max-width: 150px;
}

.navbarfix {
	z-index: 100;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-box-shadow: 0 2px 20px -1px rgba(0,0,0,0.64);
	-moz-box-shadow: 0 2px 20px -1px rgba(0,0,0,0.64);
	box-shadow: 0 2px 20px -1px rgba(0,0,0,0.64);
}

.content-area {
	margin-left: 0;
	margin-right: 0;
}

.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
